.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
.displayTheCount{
  font-size: 50px;
}
.displayTheName{
  font-display: bold;
  font-size: 25px
}